{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改管理员密码</title>
    <link rel="stylesheet" href="{% static 'css/style.default.css'%}" tppabs="http://themepixels.com/main/themes/demo/webpage/shamcey/css/style.default.css" type="text/css" />
    <!--<link rel="stylesheet" href="{% static 'css/style.shinyblue.css'%}" tppabs="http://themepixels.com/main/themes/demo/webpage/shamcey/css/style.shinyblue.css" type="text/css" />-->
<style>
.color_red {color:red; font-weight:800}
</style>
</head>
<body class="register_page">
    <div class="loginpanel">
        <form action="/Tyranitar6/super_man/updata_password/" class="loginpanelinner" method="post">
            <div class="widgetbox login-information">
                <h4 class="widgettitle">修改管理员密码</h4>
                <div class="widgetcontent">
                    <p class = 'color_red'>{{erro}}</p>
                    <input type="hidden" name="id" id="account" value={{id}} />
                    <p>
                        <label>新密码:</label>
                        <input type="password" name="password" id="password" placeholder="请输入密码" />
                    </p>
                    <p>
                        <label>再次输入新密码:</label>
                        <input type="password" name="re_password" id="re_password" placeholder="请再次输入密码" />
                    </p>
                </div>
            </div>
            <div class="widgetbox personal-information">
            <p>
                <button type="submit" class="btn btn-primary">提交</button>
            </p>
            </div>
        </form>

    </div>
</body>
</html>