<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn" lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Internal Server Error</title>
    <link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}/css/reset.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}/css/rekoo.app.css"/>
</head>
<body>
    <div style="text-align: center;"><img src="{{ settings.MEDIA_URL }}/img/500.jpg" width="400" height="200" /></div>
</body>
</html>
