{% extends "base/base.html" %}


{%block right_panel%}

        <div class="maincontent">
            <div class="maincontentinner">

                <div class="widget">

                    <h4 class="widgettitle">用户信息</h4>
                    <div class="widgetcontent">
                        <form class="stdform" action="/Tyranitar6/data_edit/sign_30_model/" method="post">
                            <span style="font-size: large;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UID，帐号ID，玩家昵称，帐号 <span style="font-size: large; color: red; font-weight: 900">--3选1--</span></span>
                            <div class="par">

                                <span class="field">

                                    <label>UID</label>
                                    <input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"  name="user_uid" class="input-medium" placeholder="请输入UID">

                                    <label>玩家昵称</label>
                                    <input type="text"  name="user_name" class="input-medium" placeholder="请输入名字">
                                    <br />
                                    <label>OpenID</label>
                                    <input type="text" name="user_openid" class="input-medium" placeholder="请输入OpenID">
                                    <br />
                                    <label>游戏区服:</label>
                                    <select id="server_id" name="server_id" class="uniformselect" value={{server_id}}>
                                        {% for content in server_list %}
                                            <option value="{{content.id}}" {% ifequal content.id server_id %}selected="selected"{% endifequal %}>
                                                {{content.name}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </span>
                                <span class="stdformbutton">
                                    <button type="submit"  class="btn btn-primary">&nbsp; 提&nbsp;交&nbsp;</button>
                                </span>
                                <!--<button class="btn btn-primary">确定</button>-->
                            </div>
                        </form>



                    </div><!--widgetcontent-->
                </div><!--widget-->

                <h4 class="widgettitle">30天签到</h4>
                <div id="dyntable_wrapper" class="dataTables_wrapper" role="grid">
                    <form class="stdform" action="/Tyranitar6/data_edit/sign_30_model/" method="post">



                    <table aria-describedby="dyntable_info" id="dyntable" class="table table-bordered responsive dataTable">
                        <tbody aria-relevant="all" aria-live="polite" role="alert">
                        <tr class="gradeX odd">
                            <td style="width: 250px;"><span>UID</span></td><td class="user_uid">{{user_uid}}</td><td>   </td>
                        </tr>
                        <tr class="gradeX odd" style="background-color: #d0e9c6">
                            <td style="width: 250px;"><span>物品名称</span></td>
                            <td>数量</td>
                            <input type="hidden"name="server_id" value={{server_id}}>
                            <input type="hidden" class='function_name' value="{{function_name}}">
                        </tr>

                            {% for row_key,row_value in row_dict.items %}
                                <tr class="gradeX odd">
                                    <td style="width: 250px;">{{row_key}}</td>
                                    <td>{{row_value}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
{%endblock%}

