{% extends "base/base.html" %}


{%block right_panel%}

        <div class="maincontent">
            <div class="maincontentinner">

                <div class="widget">

                    <h4 class="widgettitle">用户信息</h4>
                    <div class="widgetcontent">
                        <form class="stdform" action="/Tyranitar6/data_edit/union_shop_model/" method="post">
                        <span style="font-size: large;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UID，帐号ID，玩家昵称，帐号 <span
                                style="font-size: large; color: red; font-weight: 900">--3选1--</span></span>
                        <div class="par">
                                <span class="field">
                                    <label>UID</label>
                                    <input type="text"
                                           id='user_id'
                                           onkeyup="this.value=this.value.replace(/\D/g,'')"
                                           onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                           name="user_uid"
                                           class="input-medium"
                                           placeholder="请输入UID"
                                           value="{{ user_uid }}">

                                    <label>玩家昵称</label>
                                    <input type="text" value="{{ user_name }}" name="user_name" class="input-medium"
                                           placeholder="请输入名字">
                                    <br/>
                                    <label>OpenID</label>
                                    <input type="text" value="{{ user_openid }}" name="user_openid" class="input-medium"
                                           placeholder="请输入OpenID">
                                    <br/>
                                    <label>游戏区服:</label>
                                    <select id="server_id" name="server_id" class="uniformselect" value={{ server_id }}>
                                        {% for content in server_list %}
                                            <option value="{{ content.id }}"
                                                    {% ifequal content.id server_id %}selected="selected"{% endifequal %}>
                                                {{ content.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </span>
                                <span class="stdformbutton">
                                    <button type="submit" class="btn btn-primary">&nbsp; 提&nbsp;交&nbsp;</button>
                                </span>

                            <!--<button class="btn btn-primary">确定</button>-->
                        </div>
                    </form>

                    </div><!--widgetcontent-->
                </div><!--widget-->

                <h4 class="widgettitle">玩家联盟商店</h4>
                <div id="dyntable_wrapper" class="dataTables_wrapper" role="grid">
                     <form class="stdform" action="/Tyranitar6/data_edit/union_shop_model/" method="post">
                    <table aria-describedby="dyntable_info" id="dyntable" class="table table-bordered responsive dataTable">
                        <tbody aria-relevant="all" aria-live="polite" role="alert">
                        <tr class="gradeX odd">
                            <td>UID : {{user_uid}}</td>
                            <td>最后刷新时间 : {{last_refresh}}</td>
                            <td>刷新次数 : {{refresh_count}}</td>
                        </tr>
                        </tbody>
                    </table>
                         <table aria-describedby="dyntable_info" id="dyntable" class="table table-bordered responsive dataTable">
                        <tbody aria-relevant="all" aria-live="polite" role="alert">
                        <tr class="gradeX odd" style="background-color: #d0e9c6">
                            <td>时间</td>
                            <td>物品名称</td>
                            <td>物品状态</td>
                            <input type="hidden" name="server_id" value={{ server_id }}>
                        </tr>

                            {% for row in row_lst%}
                                <tr class="gradeX odd">
                                    <td>{{row.0}}</td>
                                    <td>{{row.1}}</td>
                                    <td>{{row.2}}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                     </form>
                </div>
            </div>
        </div>
{%endblock%}

