{% extends "base/base.html" %}

{%block right_panel%}
        <div class="maincontent">
            <div class="maincontentinner">

                <div class="widget">
                    <h4 class="widgettitle">添加礼包类型</h4>
                    <div class="widgetcontent">
                        <form class="stdform" action="/Tyranitar6/server/gift_package_update/" method="post">
                            <div class="par">
                                <p>
                                    <label>平台:</label>
                                    <select  name="platform_id" class="uniformselect" >
                                        {% for key,val in platform_val%}
                                            {% if val == "通平台" %}
                                                <option value ={{key}} selected="selected">
                                            {% else %}
                                                <option value ={{key}} >
                                            {% endif %}
                                                    {{val}}
                                                </option>
                                        {% endfor %}
                                    </select>
                                </p>
                                <p>
                                    <label>服务器ID:</label>
                                    <textarea cols="1"  rows="1" name="server_id" >10001</textarea>
                                </p>
                                <p>
                                    <label>截止日期:</label>
                                    <span class="field"><input style="cursor:pointer" readonly="true" id="start_date_picker"  name="endtime" value="07/30/2015" class="input-small" type="text" ></span>
                                </p>
                                <p>
                                    <label>礼包类型名:</label>
                                    <input type="text" name="name" placeholder="请输入礼包类型名" value="礼包类型名"/>
                                </p>
                                <p>
                                    <label>物品1:</label>
                                    <select  name="item_id1" class="uniformselect" >
                                        {% for key,val in item_val%}
                                            {% if val == "无" %}
                                                <option value ={{key}} selected="selected">
                                            {% else %}
                                                <option value ={{key}} >
                                            {% endif %}
                                                    {{val}}
                                                </option>

                                        {% endfor %}
                                    </select>
                                </p>
                                <p>
                                    <label>物品数量1(int):</label>
                                    <input type="text" name="item_num1" placeholder="请输入物品数量1" value="0"/>
                                </p>
                                <p>
                                    <label>物品2:</label>
                                    <select  name="item_id2" class="uniformselect" >
                                        {% for key,val in item_val%}
                                            {% if val == "无" %}
                                                <option value ={{key}} selected="selected">
                                            {% else %}
                                                <option value ={{key}} >
                                            {% endif %}
                                                    {{val}}
                                                </option>
                                        {% endfor %}
                                    </select>
                                </p>
                                <p>
                                    <label>物品数量2(int):</label>
                                    <input type="text" name="item_num2" placeholder="请输入物品数量1" value="0" />
                                </p>
                                <p>
                                    <label>物品3:</label>
                                    <select  name="item_id3" class="uniformselect" >
                                        {% for key,val in item_val%}
                                             {% if val == "无" %}
                                                <option value ={{key}} selected="selected">
                                            {% else %}
                                                <option value ={{key}} >
                                            {% endif %}
                                                    {{val}}
                                                </option>
                                        {% endfor %}
                                    </select>
                                </p>
                                <p>
                                    <label>物品数量3(int):</label>
                                    <input type="text" name="item_num3" placeholder="请输入物品数量1" value="0" />
                                </p>
                                <p>
                                    <label>金币(int):</label>
                                    <input type="text" name="gold" placeholder="请输入金币" value="0" />
                                </p>
                                <p>
                                    <label>钻石(int):</label>
                                    <input type="text" name="stone" placeholder="请输入钻石" value="0" />
                                </p>

                                <span class="stdformbutton">
                                    <button type="submit" class="btn btn-primary">&nbsp; 确&nbsp;认&nbsp;</button>
                                </span>
                                <!--<button class="btn btn-primary">确定</button>-->
                            </div>
                        </form>
                    </div><!--widgetcontent-->
                    <p>
                    礼包奖励最多只能有3种，超过3种客户端无法显示，最多预留了3个位置
                    </p>
                </div><!--widget-->

            </div>
        </div>
{%endblock%}